@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

@keyframes popDown {
  0% {
    transform: translateY(-30px);
  }
}

@keyframes popUp {
  0% {
    transform: translateY(30px);
  }
}

body {
  font: 14px 'Raleway', 'Futura', sans-serif;
  color: #393D3F;
  font-size: 18x;
  margin: 0px;
  background-color: #F3F6F6;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
  padding-top: 40px;
}

ol, ul {
  padding-left: 30px;
}

div {
  /* border: 1px solid gray; */
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.added {
  color: gray !important;
  border-color: gray !important;
  opacity: .5;
}

/* Title */
.title-1 {
  font-family: 'Playball';
  font-size: 25px;
  font-weight: bold;
}

.title-2 {
  font-family: 'Teko';
  font-size: 40px;
  font-weight: 800;
  position: relative;
  bottom: 15px;
}

/* Banner */
.banner {
  height: 30px;
  width: 100vw;
  background-color: #9BC53D;
  color: whitesmoke;
  opacity: .80;
  display: flex;
  align-items: center;
  position: fixed;
  padding-left: 20px;
}

.banner-show {
  top:0px;
  animation: popDown .5s;
}

.banner-hide {
  top:-30px;
  animation: popUp .5s;
}

/* Main Box */
.main-bar {
  margin-bottom: 10px;
  min-height: 80px;
  width: 80%;
  max-width: 900px;
}

.search-bar {
  width: 100%;
  max-width: 800px;
  margin-bottom: 5px;
  border: 1px solid #CF995F;
  padding-left: 10px;
  height: 30px;
}

/* Nomniations */
.nominations {
  width: 100%;
}

.nom-item {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  border: 2px solid #393D3F;
  border: 2px solid #B084CC;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height:18px;
  font-size: 15px;
}

.nom-name {
  height:20px;
  overflow: hidden;
}

.delete-button  {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 15px;
}

.delete-button:hover {
  opacity: .50;
}

.delete-button:active {
} 

.nom-row {
  display: flex;
  flex-wrap: wrap;
}

/* Results Section*/
.results {
  width: 80%;
  max-width: 900px;
}

.search-term {
  font-size: 18px;
}

.result-box {
  width:50%;
  margin-right: 20px;
  padding: 15px;
  background-color: azure;
}

.results-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.result-row {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-bottom: 5px;
}

.result-name {
  padding: 10px;
}

.result-name:hover {
  opacity: .5;
  padding: 10px;
}

.result-name:active {
  padding: 10px;
}

.add-button {
  display: flex;
  color: #856088;
  font-size: 15px;
  font-weight: bold;
  border: 3px solid #856088;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height:25px;
}

.add-button:hover {
  opacity: .50;
}

.add-button:active {

}

.preview-box {
  width: 50%;
  display: flex;
  padding: 15px;
}

.preview-title {
  font-weight: bold;
  padding-top: 5px;
}

.poster-plot {
  padding: 15px;
}

.poster {
  min-width: 150px;
  max-width: 250px;
}

.plot {
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .preview-box {
    display: none;
  }

  .result-box {
    width: 100%;
  }
}